<div class="jumbotron text-center">
  <h1 class="text-danger">Thank You!</h1>
  <p class="lead"><strong>Thank you for casting your vote.The result will declare soon !!</strong></p>
    <img src="/images/tick.png" class="rounded mx-auto d-block" alt="...">
  <p>
    Having trouble? <a href="">mail at : ashutosh2001sharma@gmail.com</a>
  </p>
        
</div>